.example, .chart {
  padding-left: 50px;
}
.svg {
  width: 600px;
  height: 600px;
  font-family: helvetica, sans-serif;
}

.example path, .example line {
  fill: #225D23;
  stroke: #eee;
  stroke-width: 0.5px;
  cursor: pointer;
}

.answer path, .answer line {
  fill: #BF2806;
  stroke: #F2DC6D;
  stroke-width: 0.5px;
  cursor: pointer;
}

#chart {
  height: 750px;
  margin-left: 60px;
}

text {
  fill: white;
  font-size: 11px;
  text-anchor: middle;
  font-weight: 800;
  cursor: pointer;
}

#round-labels text {
  font-size: 20px;
  fill: #597459;
}

#result {
  text-align: center;
  color: #444;
  font-size: 18px;
  font-weight: 200;
}

#score {
  position: absolute;
  left: 680px;
  top: 40px;
  width: 400px;
  font-size: 30px;
  font-weight: 500;
}

#title {
  position: absolute;
  top: 10px;
}
#title .large {
  width: 150px;
}
